.BottomContainer {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.LBottomPart {
    flex: 1;
    display: flex;
    .ImgLB {
        img {
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 15px;
            height: 58px;
            width: 58px;
            border-radius: 5px;
        }
    }
    .LBDesc {
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;
        .LBTitle {
            font-weight: 450;
            font-size: 15px;
            margin-bottom: 3px;
            margin-top: 10px;
            cursor: pointer;
        }
        .LBTitle:hover {
            text-decoration: underline;
        }
        .LBName {
            font-weight: 400;
            font-size: 11px;
            opacity: 0.6;
            cursor: pointer;
        }
        .LBName:hover {
            opacity: 0.9;
            text-decoration: underline;
        }
    }
}

.MBottomPart {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .BottomMBPart {
        display: flex;
        align-items: center;
        .TimeBar {
            background-color: white;
            height: 3px;
            width: 630px;
            border-radius: 6px;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

.TopMBPart {
    display: flex;
    margin-bottom: 15px;
    margin-top: 20px;
    .TopMBPartBtn {
        opacity: 0.6;
    }
    .TopMBPartBtnWeak {
        opacity: 0.55;
        transform: scale(0.9);
    }
}

.RBottomPart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-top: 6px;
    .RBottomImg {
        height: 17px;
        width: 17px;
        opacity: 0.7;
        margin-right: 14px;
        cursor: pointer;
    }
    .RBottomImgSound {
        height: 17px;
        width: 17px;
        opacity: 0.7;
        margin-right: 7px;
        cursor: pointer;
    }
    .SoundBar {
        height: 3px;
        background-color: white;
        width: 100px;
        margin-right: 14px;
        margin-top: 2px;
    }
}

.TopMBPartBtn, .TopMBPartBtnWeak {
    height: 16px;
    width: 16px;
    margin-right: 23px;
    cursor: pointer;
}

.WeirdBtn {
    height: 16px;
    width: 16px;
    margin-right: 23px;
    cursor: pointer;
    transform: scale(1.3);
}

.FirstDigit, .SecondDigit {
    color: white;
    opacity: 0.7;
    font-weight: 400;
    font-size: 12px;
    margin-top: 6px;
}

.RBottomImg:hover, .RBottomImgSound:hover, .TopMBPartBtn:hover {
    opacity: 1;
}

.TopMBPartBtnWeak:hover {
    opacity: 0.8;
}

.WeirdBtn:hover {
    transform: scale(1.4);
}